
body {
    
  font-family: Rubik,sans-serif;
  font-size: 15px;
  margin: 0px;
  box-sizing: border-box;
  
  
}
body , html{
  overflow-x: hidden;

}
/* Style the header */
.header-section{
  background-image: url(hero-image.png);
  background-repeat:no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.font-size{
  font-size: 80px;
}


.btn{
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  width: 250px;
  height: 80px;
  margin: 10px auto 0px auto;
  background-color: #ff4500;
  color:white;
  font-size: 16px;
  border: none;
  text-align: center;
  font-weight: bold;
  clip-path: polygon(0 1%, 100% 0, 80% 79%, 23% 79%)
  
  
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.navbar{
  margin-right: 50px;
}
.close-icon{
  float: right;
  margin-top: -25px;
  
  
}

.menu *{
text-decoration: none;
font-size: 15px;
color: white;
font-weight: bold;
padding: 10px 30px;   
}
.menu a:hover{

 
  border-bottom: 5px solid red;
}
.close-icon a:hover{
  border-bottom: 5px solid red;
}


.align-item-center{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.game-section {
  background-image: url(h2-background-img-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  margin-top: -20px;  
}

.color{
color: white;
}


.color-light {
color: white;
}

.text-center {
text-align: center;
padding-top: 200px;

}
/* Create two equal columns that floats next to each other */
.column {
display: inline-block;
width: 20%;
color: white;
margin-left: 2%;
margin-right: 2%;

}
.column img:hover{
  
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 
}
.column p {
  font-size: 20px;
  font-weight: bold;
  }

.row{
  text-align: center;
  padding-top: 20px;
}

.container{
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  color:white;
  background-color: black;
  
  
  
}
.left{
  width: 100vh;
}
.right{
  margin-right: 20px;
  width: auto;
}
.img-cont
{
  width: 90%;
}

.button {
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background-color: orangered;
}
.review{
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.89);
color: white;
border: 1px solid black;

}
.user-review{
margin-right: 10%;
margin-left: 10%;
padding: 50px;
}
.less-then{

font-size: 24px;
font-weight: bold;
}
.robot-section{
display: flex;
align-items: center;
color:white;
background-color: black;

}
.left-robot{
margin-left: 10%;
width: 50%;

}
.right-robot{
display: flex;
width: 100%

}
.robot-img{
width: 40%;
justify-content: center;
display: flex;

}

.video{
background-image: url(h2-background-img-3.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 50%;



}
.place-icon{

display: flex;
justify-content: center;
align-items: center;
}

.play{
font-size:100px;
color:white;
position: absolute;

}
.img-center{
opacity: 0.6;
}

.footer{
background-color: rgba(0, 0, 0, 0.897);
padding-top: 50px;

}
.social-footer{
display: flex;
justify-content: space-evenly;

}
.social-footer ul
{
align-self: center;
}
.social-align{
  display: flex;
  justify-content: center;
  margin-left: 200px;

}

.btn-corner{
width: auto;
justify-content: flex-end;
align-items: flex-start;
display: flex;
height: 100%;


}
.textarea{

display: flex;
justify-content: center;
align-items: center;

}
.textarea #w3review{

color:white;
text-align: left;
border-bottom: 5px solid rgba(0, 0, 0, 0.199);
margin-right: 2%;

}


.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;

}
.socials li{
margin: 0 20px;
}
.socials a{
text-decoration: none;
color: #fff;
}
.socials a i{
font-size: 1.1rem;
transition: color .4s ease;
}
hr{
background-color: black;
border: 5px solid black;
size: 100px;
width: 50%;
color: black

}
.nav-footer{

display: flex;
justify-content: space-around;
align-items: center;

}
.menu-footer *{
text-decoration: none;
font-size: 15px;
color: white;
font-weight: bold;
padding: 10px 30px;
}
.menu-footer a:hover{
  border-bottom: 5px solid red;
}
.btn-footer{
  cursor: pointer;
align-self: flex-end;
border: none;
color: white;
padding: 15px 50px ;

text-align: center;
text-decoration: none;
font-size: 16px;
background-color: orangered;
clip-path: polygon(0 1%, 100% 0, 80% 79%, 23% 79%)



}


@media only screen and (max-width: 1920px) {
.mobile-header{
  display: none;
}
.social-footer{
  display: flex;
  justify-content: space-around;
  
  }
  .social-footer ul
  {
  align-self: center;
  }
  .social-align{
    display: flex;
    justify-content: center;
    margin-left: 550px;
  
  }
  .btn-corner{
    width: auto;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    height: 100%;
    margin-left: 50px;
    
    }
}
@media only screen and (max-width: 1200px){
  .font-size{
    font-size: 70px;
  }
}
@media only screen and (max-width: 1000px){
  .font-size{
    font-size: 60px;
  }
}
@media only screen and (max-width: 900px){
  .font-size{
    font-size: 50px;
  }
}
@media only screen and (max-width: 700px){
  .font-size{
    font-size: 40px;
  }
}
@media only screen and (max-width: 1024px){
  .menu *{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 13px;   
    }
    .menu i{
      font-size: 15px;
    }
    .logo img{
      width: 50%;

    }
    .class-icon i{
      font-size: 9px;
    }
   
    .column img{
      width: 80%;
    }
    .left img{
      margin-left: 5px;
    }
    .img-center img{
      width: 80%;
      margin-left: 10%;
    }
    .menu-footer *{
      padding: 10px 15px;
      
      }
      .social-footer{
        display: flex;
        justify-content: space-around;
        
        }
        .social-footer ul
        {
        align-self: center;
        }
        .social-align{
          display: flex;
          justify-content: center;
          margin-left: 550px;
        
        }
        .btn-corner{
          width: auto;
          justify-content: flex-end;
          align-items: flex-start;
          display: flex;
          height: 100%;
          margin-left: 50px;
          
          }
  
}




@media only screen and (max-width: 740px) {
.header-section{
  background-image: url(hero-image.png);
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.font-size{
  font-size: 30px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  
  
}

.logo{
align-self: center;
margin-left: auto;
margin-right: auto;
padding-left: 15%;

}
.navbar-start{
  display: none;
}
.menu{
  display: none;
}



.close-icon{
  font-size: 2.5rem;
  margin-left: -30.75rem;
  float: none !important 
  
}
.game-section {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.836);
  height: auto;
  padding-bottom: 20%;
  
}
.column{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}
.column p{
font-size: 10px;

}
.row{
display: flex;
flex-direction: column;
align-items: center;
}

.container{
flex-direction: column;
padding-bottom:10%;



}
.left{
padding-bottom: 10%;

}
.right{
padding-bottom: 10%;
}
.review{
padding-bottom: 10%;
}


.less-then{
display: none;
}

.robot-section{
flex-direction: column;
height: auto;
width: auto;


}
.left-robot{
padding-bottom: 10%;
width: auto;

}
.right-robot{
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
  
}
.img-center{
  width: auto;
}

.place-icon{
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.nav-footer{
display: flex;
justify-content: center !important;
align-items: center !important;
text-align: center;
line-height: 400%;
background-color: transparent;


}
.menu-footer{
padding: 10px 30px;

}
.social-footer{
  display: flex;
  justify-content: space-between;
  
  }
  .social-footer ul
  {
  align-self: center;
  }
  .social-align{
    display: flex;
    justify-content: center;
    margin-left: 200px;
  
  }
  .btn-corner{
    width: auto;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    height: 100%;
    margin-right: 20px;
    
    }

 

.font-size{
font-size: 50px;

}

}

















header{
  background: black;
  color: #fff; 
}

.menu-icon{
  display: flex;
  justify-content: left;
  margin-left: 50px;

}
.brand-logo {
  display: flex;
  justify-content: center;
 
  
}
.brand-logo img {
  max-width: 100%;
  
}
.navigation {
  margin: 0px;
  float: right;
}
.navigation li {
  list-style: none;
  float: left;
}
.navigation li a {
  color: #fff;
  padding: 28px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color:#fff;
  
}
.show-menu-btn {
  margin: 0px;
  float: right;
  
  color:#fff;
}
.show-menu-btn i {
  line-height: 20px;
}
.navigation a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  border-bottom: 5px solid red;
  
}
#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
  background-color: white;
  color:#fff;
}

/*-- Responsive CSS --*/
@media screen and (max-width: 740px) {
 
  .mobile-header{
    display: block;
    height: 80px;
  }
  .align-div{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;

  }
 
  .menu-icon i{
      font-size: 30px;
  }
 
  .brand-logo a img{
    width: 40px;
    height: 40px;
    margin-bottom: 50px;
   
  }
.show-menu-btn,
.hide-menu-btn {
  display: block;
  color:#fff;
  margin-right: 15px;
  margin-top: -90px;
  
}
.navigation {
  position: fixed;
  width: 80%;
  background: rgba(0, 0, 0, 0.726);
  top: -100%;
  
  padding: 50px 0px;
  transition: 1s;
}
.navigation li {
  width: 100%;
}
.navigation li a {
  padding: 15px 15px;
  text-align: center;
}
.navigation li a i {
  width: auto;
  font-size: 20px;
}
.hide-menu-btn {
  position: absolute;
  top: 15px;
  right: 20px;
}
#toggle-btn:checked ~  nav .navigation{
  top: 8px;
}
}
























































